<table class='petl'>
<thead>
<tr>
<th>mass</th>
<th>hair_color</th>
<th>count</th>
</tr>
</thead>
<tbody>
<tr>
<td>unknown</td>
<td>none</td>
<td style='text-align: right'>9</td>
</tr>
<tr>
<td>unknown</td>
<td>brown</td>
<td style='text-align: right'>5</td>
</tr>
<tr>
<td>unknown</td>
<td>black</td>
<td style='text-align: right'>5</td>
</tr>
<tr>
<td>80</td>
<td>none</td>
<td style='text-align: right'>4</td>
</tr>
<tr>
<td>32</td>
<td>n/a</td>
<td style='text-align: right'>2</td>
</tr>
<tr>
<td>79</td>
<td>black</td>
<td style='text-align: right'>2</td>
</tr>
<tr>
<td>48</td>
<td>none</td>
<td style='text-align: right'>2</td>
</tr>
<tr>
<td>77</td>
<td>blond</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>75</td>
<td>n/a</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>136</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>49</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>120</td>
<td>brown, grey</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>75</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>84</td>
<td>black</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>77</td>
<td>auburn, white</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>84</td>
<td>blond</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>unknown</td>
<td>auburn, grey</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>112</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>80</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>74</td>
<td>n/a</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>1,358</td>
<td>n/a</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>77</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>110</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>17</td>
<td>white</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>75</td>
<td>grey</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>78.2</td>
<td>black</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>140</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>113</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>79</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>83</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>unknown</td>
<td>auburn</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>20</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>68</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>89</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>90</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>unknown</td>
<td>blond</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>45</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>66</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>82</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>40</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>55</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>15</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>45</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>65</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>84</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>82</td>
<td>white</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>87</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>50</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>85</td>
<td>black</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>56.2</td>
<td>black</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>50</td>
<td>black</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>80</td>
<td>white</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>55</td>
<td>blonde</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>102</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>88</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>unknown</td>
<td>white</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>57</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>159</td>
<td>none</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>136</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
<tr>
<td>79</td>
<td>brown</td>
<td style='text-align: right'>1</td>
</tr>
</tbody>
</table>
